<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>602907551697-jt7enda5jri8jg1pmq8667k0dl9m6le9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602907551697-jt7enda5jri8jg1pmq8667k0dl9m6le9</string>
	<key>API_KEY</key>
	<string>AIzaSyDBj7_KV9btxAmm0_e3r2Flb-R6TRvobRA</string>
	<key>GCM_SENDER_ID</key>
	<string>602907551697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.option.mipatatest</string>
	<key>PROJECT_ID</key>
	<string>mi-pata-tester</string>
	<key>STORAGE_BUCKET</key>
	<string>mi-pata-tester.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602907551697:ios:fc1f9eebb2a502cf</string>
	<key>DATABASE_URL</key>
	<string>https://mi-pata-tester.firebaseio.com</string>
</dict>
</plist>